// 主题色：红 
$theme: #d83f36;

// 分割线
$lineLight: #D9D9D9;
$lineDark: #404040;

// 顶部搜索框颜色
$input-color: #eeaeaa;
$input-background: #e0645c;

// 底部导航菜单颜色
$footer-background: #f6f6f7;
$footer-normal: #7a7a7a;

// 搜索部分
$keywords: #286db5;

// 播放器
$player-bg: #24272b;